/* CSS Document */
#customers{
	border-collapse:collapse;
}
#customers tr{
	border:1px solid #006F37;
}
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers td{
	padding-left:10px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family:"Times New Roman", Times, serif;
  font-size:17px;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #F93;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:19px;
  font-family:"Times New Roman", Times, serif;

}
input[type=submit]:hover {
  background-color: #F60;
}
#bang{
border-collapse:collapse;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#bang tr td{
	font-size:17px;
	font-family:"Times New Roman", Times, serif;
	
	
}