*{
	margin:0px;
	padding:0px;}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;}
#banner {
	background-color: #525252;
	height: 100px;
	width: 100%;
	margin-bottom:10px;
}
#banner p{
	color:#FFF;
	font-size:36px;
	font-family:"Times New Roman", Times, serif;
	padding:25px;
	
}
#menu {
	background-color: #B2B2B2;
	height: 500px;
	width: 12%;
	float:left;
}
div#boxchucnang{
	width:auto;
	height:50px;
	background-color:#DBDBDB;
	padding:10px;
	border:1px solid #DBDBDB;
	text-align:center;
}
div#boxchucnang:hover{
	border:1px solid #999;
}
div#menu a{
	text-decoration:none;
	color:#000;}
div#menu a:hover{
	color:#F60;}
div.left, div.right{
	width:49%;
	float:left;}
div.right{
	float:right;}
#content {
	float: right;
	height: auto;
	width: 87%;
	background:#DDD;
}
#footer {
	background-color: #494949;
	height: 150px;
	width: 100%;
	margin-top:10px;
}
div.xoa{
	clear:both;}
